.header {
  width: 100%;
  max-width: 100%;
  max-height: 1080px;

  &__top,
  &__bottom {
    position: fixed;
    z-index: 2;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1920px;
    top: 50px;
    padding: 0 5%;
  }

  &__bottom {
    display: flex;
    bottom: 50px;
    padding-left: 5%;

    @include medium {
      // display: flex;
      width: 100%;
    }
  }

  &__title {
    color: $titles;
    font-size: 12px;
    font-family: "Oxanium", sans-serif;
    font-weight: 700;
    position: absolute;
    top: 25%;
    left: 0;
    transition: transform 0.6s ease-in-out;

    &--bottom {
      transform: translateY(200%);
    }

    @include large {
      font-size: 15px;
    }

    &--modifier {
      padding-right: 20px;
    }
  }

  &__invisible {
    opacity: 0;
    font-size: 12px;
    @include large {
      font-size: 15px;
    }
  }

  &__cta {
    position: relative;
    width: fit-content;
    height: 30px;
    overflow: hidden;

    &:hover {
      .header__title {
        color: $primary-color;
        transform: translateY(-230%);
        &--bottom {
          transform: translateY(0);
        }
      }
    }
    &--modifier {
      margin-right: 20px;
    }
  }
}
