.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  max-height: 1080px;
  width: 100%;
  user-select: none;

  &__titles {
    color: $titles;
    font-family: "Oxanium";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15%;
    width: 75%;
    height: 50%;

    @include medium {
      height: 60%;
      padding-top: 12%;
    }

    @include large {
      padding-top: 10%;
    }
  }

  &__subtitle {
    color: $titles;
    font-family: "Oxanium";
    font-weight: 600;
    font-size: 18px;

    @include medium {
      font-size: 24px;
    }

    @include large {
      font-size: 32px;
    }
  }
  &__title {
    color: $primary-color;
    font-family: "Oxanium", sans-serif;
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 3px;
    position: relative;

    &--effect {
      color: $titles;
      position: absolute;
      top: 0;
      left: 0;
    }

    @include medium {
      font-size: 72px;
      letter-spacing: 5px;
    }

    @include large {
      font-size: 104px;
      letter-spacing: 7px;
    }
  }

  &__img {
    position: absolute;
    z-index: -1;

    &--0 {
      height: 50%;
      top: 30%;
      left: 10%;
      animation: background-plus 5s infinite ease-in-out;

      @include medium {
        // height: 50%;
      }

      @include large {
        // height: 40%;
        top: 20%;
      }
    }

    &--1 {
      height: 35%;
      top: 60%;
      left: 60%;
      animation: background-minus 6s infinite ease-in-out;

      @include medium {
        // width: 15%;
      }

      @include large {
        // width: 15%;
        top: 65%;
      }
    }

    &--2 {
      height: 25%;
      top: 20%;
      left: 65%;
      animation: background-plus 3s infinite ease-in-out;

      @include medium {
        // width: 9%;
      }

      @include large {
        left: 75%;
      }
    }
  }

  &__scroll {
    color: $text;
    padding-bottom: 10%;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    font-family: "Oxanium";
    font-weight: 600;

    @include medium {
      padding-bottom: 3%;
    }
    // @include medium {
    //   color: $text;
    //   padding-bottom: 3%;
    //   font-family: sans-serif;
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   width: 100%;
    //   height: 20%;
    // }
  }

  &__chevron {
    position: absolute;
    width: $base * 3.5;
    height: $base * 0.8;
    opacity: 0;
    transform: scale(0.3);
    animation: move-chevron 1.5s ease-out infinite;

    &:first-child {
      animation: move-chevron 1.5s ease-out 0.1s infinite;
    }

    &::before,
    &::after {
      position: absolute;
      top: 0;
      height: 100%;
      width: 50%;
      background: $text;
      content: "";
    }

    &::before {
      left: 0;
      transform: skewY(30deg);
    }

    &::after {
      right: 0;
      width: 50%;
      transform: skewY(-30deg);
    }
  }
}
