.container {
  width: 80vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;

  &__column {
    width: 14.2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:nth-child(2n) {
      animation: move-down-small 5s ease-in-out forwards;

      @include medium {
        animation: move-down-medium 4s ease-in-out forwards;
      }

      @include large {
        animation: move-down-large 4.5s ease-in-out forwards;
      }
    }

    &:nth-child(2n + 1) {
      animation: move-up-small 5s ease-in-out forwards;
      @include medium {
        animation: move-up-medium 4s ease-in-out forwards;
      }

      @include large {
        animation: move-up-large 4.5s ease-in-out forwards;
      }
    }
  }

  &__letter {
    font-family: "lato", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    color: $text;
    opacity: 0.1;
    max-width: 30px;
    height: 30px;

    @include medium {
      font-size: 60px;
      height: 60px;
      max-width: 60px;
    }

    @include large {
      font-size: 100px;
      height: 100px;
      max-width: 100px;
    }

    &--title {
      color: $primary-color;
      opacity: 1;
    }
  }

  &--visible {
    display: none;
  }
}

// .container {
//   width: 80vw;
//   height: 100vh;
//   overflow: hidden;
//   display: flex;
//   justify-content: center;

//   &__column {
//     width: 14.2%;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;

//     &:nth-child(2n) {
//       animation: move-down 5s ease-in-out forwards;
//     }

//     &:nth-child(2n + 1) {
//       animation: move-up 5s ease-in-out forwards;
//     }
//   }

//   &__letter {
//     font-family: "lato", sans-serif;
//     font-size: 100px;
//     text-transform: uppercase;
//     color: $elem-background;
//     max-width: 100px;
//     height: 100px;

//     &--title {
//       color: $primary-color;
//     }
//   }

//   &--visible {
//     display: none;
//   }
// }
