.container {
  width: 80vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;

  &__column {
    width: 14.2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:nth-child(2n) {
      animation: move-down 5s ease-in-out forwards;
    }

    &:nth-child(2n + 1) {
      animation: move-up 5s ease-in-out forwards;
    }
  }

  &__letter {
    font-family: "lato", sans-serif;
    font-size: 100px;
    text-transform: uppercase;
    color: $elem-background;
    max-width: 100px;
    height: 100px;

    &--title {
      color: $primary-color;
    }
  }

  &--visible {
    display: none;
  }
}
