.projects {
  overflow: hidden;
  width: 100%;
  padding-top: 5%;
}

.project {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 10%;

  @include medium {
    justify-content: flex-start;
    margin-bottom: 100px;
    padding: 3% 0%;
  }

  @include large {
    padding: 3% 0;
  }

  &:nth-child(2n) {
    flex-direction: row-reverse;
  }

  &__imglink {
    width: 90%;
    height: 70%;
    @include medium {
      width: 55%;
      height: 100%;
    }
  }
  &__illustration {
    width: 100%;
    height: 100%;
    object-fit: cover;

    &--left {
      object-position: left;
    }

    &--center {
      object-position: center;
    }

    &--right {
      object-position: right;
    }
  }

  &__content {
    display: none;
    font-family: "Oxanium", sans-serif;
    height: 100%;
    width: 45%;

    @include medium {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 5%;
    }

    @include large {
      padding: 2% 6%;
      width: 40%;
    }
  }

  &__title {
    font-size: 32px;
    font-weight: 700;
    color: $titles;
    &::selection {
      background: $primary-color;
    }

    @include large {
      font-size: 48px;
    }
  }

  &__description {
    color: $text;
    line-height: 150%;
    font-size: 18px;
    &::selection {
      color: $titles;
      background: $primary-color;
    }

    @include large {
      font-size: 20px;
    }
  }

  &__buttons {
    width: 80%;
    max-width: 230px;
    display: flex;
    justify-content: space-between;

    @include large {
      width: 60%;
      max-width: 200px;
    }
  }

  &__button {
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    width: fit-content;
    line-height: 30px;
    cursor: none;
    color: $primary-color;

    &:hover {
      color: $titles;
    }

    &--disabled {
      color: $text;

      &:hover {
        color: $text;
      }
    }
  }
}
