.presentation {
  height: 90vh;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__background {
    width: 100%;
    overflow: hidden;
    transform: skewY(-5deg);
    position: absolute;
  }

  &__photo {
    width: 15%;
    height: 25%;
    background-color: red;
  }

  &__lines {
    line-height: 40px;
    transform: translateX(-10%);
    width: 1000%;
    font-family: "Oxanium";
    font-size: 30px;
    text-transform: uppercase;
    color: $titles;
    opacity: 0.1;
    font-weight: 700;

    @include medium {
      font-size: 50px;
      line-height: 75px;
    }

    @include large {
      font-size: 75px;
      line-height: 100px;
    }
  }
}
