.spitch {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 20vh;

  &__text {
    color: $titles;
    font-family: sans-serif;
    font-size: 18px;
    max-width: 60%;
    line-height: 27px;

    @include medium {
      font-size: 28px;
      max-width: 500px;
      line-height: 42px;
    }
    @include large {
      max-width: 600px;
    }
  }
}
