.spitch {
  height: 100vh;
  border: 3px solid green;
  display: flex;
  justify-content: center;
  align-items: center;

  &__text {
    max-width: 600px;
    color: $titles;
    font-family: sans-serif;
    font-size: 28px;
    line-height: 42px;
  }
}
