@import url("https://fonts.googleapis.com/css?family=Lato:900");

@keyframes move-down {
  from {
    transform: translateY(-120px);
  }

  75% {
    transform: translateY(500px);
  }

  to {
    transform: translateY(480px);
  }
}

@keyframes move-up {
  from {
    transform: translateY(120px);
  }

  75% {
    transform: translateY(-500px);
  }

  to {
    transform: translateY(-480px);
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 100px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  background-color: black;
}

.container {
  width: 80vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;

  &__column {
    width: 14.2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:nth-child(2n) {
      animation: move-down 3s ease-out forwards;
    }

    &:nth-child(2n + 1) {
      animation: move-up 3s ease-out forwards;
    }
  }

  &__letter {
    font-family: "lato", sans-serif;
    font-size: 100px;
    text-transform: uppercase;
    color: #131314;

    &--title {
      color: #02684c;
    }
  }
}
